*{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #636363;
    font-weight: 400;
    line-height: 1.6;
}
header{
    padding: 30px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
   
}

.container{
    max-width: 1199px;
    margin: auto;
}
.header-list{
    display: flex;
    justify-content: space-between;
   align-items: center;


}

.navbar a{
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
    
    
}

.navbar a i{
    font-size: 10px;
    
}
.navbar a:hover i{
    color: #f55f8d;
    transition: 0.5s;
}
.navbar a span{
     transition: all 0.5s;
     display: inline-block;
     font-weight: 500;
     color: #070120;
    }

.navbar a:hover span{
    animation: upToDown 0.3s;
    color:#f55f8d ;
}

@keyframes upToDown{
    49%{
        transform: translateY(100%);
    }

    50%{
        opacity: 0;
        transform: translateY(-100%);

    }
    51%{
        opacity: 1;
    }
}

button{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;

}

button:hover{
    background-position: right center;

  color: #fff;
  text-decoration: none; 
}
/* end header */

/* start carousel */
.carousel{
    padding-top: 130px;
    background-image: url(./Samar/pic2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
    overflow: hidden;
}
.container-carousel{
    width: 90%;
    margin-left:200px;
}

.carousel-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text p{
    font-size: 18px;
    margin-bottom: 15px;
}
.carousel-list .text .best{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    
}
.carousel-list .text h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.carousel-list .text ul{
    list-style: none;
    margin-bottom: 20px;
}

.carousel-list .text ul li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
    cursor:default;
}

.carousel-list .text ul li i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
    
}

.img{
   flex: 1;
 
    width: 570px;
}
.img img{
    max-width: 100%;
    display: block;
   
}
/* end carousel */

/* start services */
.services{
    padding: 150px 0;
    background-image: url(./Samar/bg2.png);
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding-bottom: 0;
}
.container-main{
 max-width: 1199px;
    margin: auto;
  
    
}

.text-main{
    text-align: center;
}
.text-main p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.text-main h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
    
}

 .service-list .item{
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;

}

.service-list .item:hover{
    transform: translateY(-20px);
}

.service-list .item h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

.item img{
    width: 215px;
 
}
/* end service */
/* start about us */
.about-us{
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
    margin-top: 100px;
}
.section-inner{
    padding-top: 115px;
}

.about-list{
    display: flex;
    justify-content: flex-end;
align-items: center;
   width: 100%;
position: relative;
}
.picture{
    width: 60%;
 position: absolute;
 left: -200px;
}
.about-text{
width: 50%;
margin-right: 0px;
}

.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.about-text h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.about-text p{
   margin-bottom:15px ; 
}
.about-text ul{
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.picture img{
    width: 100%;
    
    border-radius: 0 100px 100px 0;
    
}
.about-text ul li .icon{
    font-size: 25px;
  text-decoration: none;
  text-align: center;
 
}



.about-text i{
    width: 25px;
  height: 25px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 18px;
  
  color:#f55f8d;
  display: inline-block;
  text-align: center;
  border: 2px solid #f55f8d;
}

/* end about us */

/* start number */
.number{
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;

}
.number-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-item i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number-item p:first-of-type{
    font-size: 65px;
    font-weight: 600;
    color: #f55f8d;
    line-height: 1;
}
.number-item p span{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number-item p:last-of-type{
    color: #262626;
    font-size: 18px;
}

/* end number */
/* start feature */

.feature-text, .feature-pic{
width: 50%;
}

.feature-pic{
    margin-right: -80px;
}
.feature-list{
    display: flex;
    justify-content: space-between;
}

.feature-list .feature-pic img{

    height: 100%;
    max-width: 100%;
    animation: move2 5s infinite;
}

.feature-bg{
    display: flex;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.feature-bg::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    background-size: 200%;
   
}




.feature-bg:hover::after{
    opacity: 1;
   
}

.feature-bg i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.feature-bg div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.feature-bg h3{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 0.5s;
    z-index: 1;
}

.feature-bg:hover p, .feature-bg:hover h3, .feature-bg:hover i {
    color: #fff;
    cursor: pointer;
}
.feature-item{
    padding: 0 50px 30px 0;
}

.feature-item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

@keyframes move2{
    0%{
        transform: rotate(1deg) translate(2px,2px);
    }
    50%{
        transform: rotate(-1deg) translate(-2px, -2px);
    }
    100%{
        transform: rotate(1deg) translate(2px, 2px);
    }
}
/* end feature */

/* start portfolio */
.portfolio{

}

.portfolio-list {
    display: grid;
   grid-template-columns: repeat(2,1fr) 1.5fr;
   gap: 35px;
}
.portfolio-item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio-item img{
    width: 100%;
    height: 100%;
    display: block;
}

.portfolio-item-1{
    grid-column: 1/span 2;
}

.portfolio-item-6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio-item-5{
grid-column: 1/ span 2;

}
.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all .75s;
    display: block;
}

.portfolio-item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio-item:hover::before {
left: 125%;
}
.portfolio-item:hover .portfolio-overlay{
    opacity: 1;
}
.portfolio-item:hover .portfolio-icon{
    transform: translate(0);
}
.portfolio-item:hover .portfolio-text{
    transform: translate(0);
}
.portfolio-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
    text-align: center;
    cursor: pointer;
    
}

.portfolio-text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transition: all 0.75s;
    transform: translateY(150px)
}

.portfolio-text h3{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}
.portfolio-text p{
    color: #fff;
    opacity: .7;
}
.portfolio-icon i{
  font-size: 30px;
  color: #fff;
  font-family: 'Line Awesome Free';
  font-weight: 900;
  
}
/* end portfolio */

/* start plan */

.plan{
    padding-top: 200px;
}

.plan-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 5px;

}
.plan-item img{
    width: 125px;
   margin-left: 20px;
}
.plan-item h3{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}

.plan-item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan-item p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    text-align: center;
}

.plan-item{
    padding: 35px 95px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all 0.5s;
}

.plan-item:hover{
    border-image:  url(./Samar/br.png)  1 round;
}

.plan-item ul{
  list-style: none;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

.plan-item ul li{
    padding: 5px 0;
    font-weight: 400;
    font-size: 18px;
    color: #262626;
}

.plan-item ul li i{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    color: #f55f8d;
    background-color: #feeff3;
}

/* start testimonial */

.testimonial{
    background-image: url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    min-height: 300px;
}

.testimonial-pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  

  /* .testimonial-thumbs .testimonial-pic img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
} */

.testimonial-pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-pic::after{
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial-pic::before, .testimonial-pic::after{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before{
    opacity: 1;
}
.testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-97%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
   /* background: #f55f8d; */
   background-color: #f55f8d;
   overflow: hidden;
    border: none;
   box-lines: none;
    transition: all 1s;
    box-sizing: border-box;
    
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx{
opacity: 1;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./Samar/pattern12.png);
    background-position: bottom ;
    background-size:100% 100%;
    background-repeat: no-repeat;
    border-collapse: none;
    
    height: 100%;
    width: 100%;
    transition: all 1s;
   
    
}

.testimonial-name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial-position{
    color: #f55f8d;
    margin-bottom: 20px;
}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

.testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}



/* blog*/
.blog{
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
   
}
.blog-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.blog-header{
    position: relative;
}

.blog-item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog-item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.blog-header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -10px;
    left: 15px;
} 
.blog-body{
    padding: 0 20px;
}

.blog-body h3{
    font-weight: 700;
    margin-top: 20px;
    color: #070120;
    font-size: 25px;
    line-height: normal;
}
.blog-body p{
    line-height: 28px;
    padding: 10px 0 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-footer{
    padding: 20px 0;
}
.blog-footer i{
    font-size: 22px;
    color: #f55f8d;
    /* vertical-align: sub; */
}

.blog-footer span:first-of-type{
    color: #f55f8d;
    margin-right: 20px;
   

}

.footer{
    background-image: url(./Samar/bg4.png);
    display: block;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
   
}

.footer::before{
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #869791;
}

.footer-top{
    background-color: rgb(255, 255, 255);
   
    background-image: url(./Samar/pattern3.png);
    background-size: 100%;
    position: relative;
    display: flex;
    padding: 50px 60px;
    border-radius: 10px;
    background-position: center bottom;
    background-repeat: no-repeat;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 30px 0px ;
}
.footer-text, .footer-form{
    width: 50%;
}
.footer-form form {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
    border-radius: 0.5rem;
}
.footer-text h2{
    font-size: 28px;
    color: rgb(38, 38, 38);
}

.footer-form input{
    font-size: 15px;
    font-weight: 400;
    color: rgb(136, 136, 136);
    padding: 20px;
    background: #fff;
    flex: 1 1 auto;
    border-radius:  0.5rem 0px 0px 0.5rem;
    border-width: 1px ;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image:initial ;
    outline: 0px;
    transition: all 0.5s ease 0s;
    margin-right: 0;
    overflow: hidden;
}
.footer-form input:hover{
    border-color: rgb(245, 95, 141);
    
}

.footer-form button{
        font-size: 20px;
        background-image: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%);
        background-size: 200%;
        color: rgb(255, 255, 255);
        cursor: pointer;
        padding: 20px 34px;
        border-color: transparent;
        transition: all 0.5s ease 0s;
        border-radius: 0px 0.5rem 0.5rem 0px;
    
}
.footer-bottom{
   
    display: flex;
    position: relative;
    padding: 70px 0;
    
}



 .footer-contact{
list-style: none;
color: #fff;
padding: 0;

}
.footer-contact span{
    color: #fff;
}
.footer-contact li i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    display: block;
    background: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%);
    border-radius: 50px;
    display: inline-block;
  color: #fff;
  margin-top:10px ;
  
}
.footer-item{
    padding: 0;
   width: 20%;
}

.footer-item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: rgb(255, 255, 255);
    /* padding: 0 20px 10px 25px; */
    
    
}


.footer-item h3::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 10%;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%) 0% 0% / 200%;
    /* margin-left: 25px;
   */
}
.footer-item h3::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 2rem;
    
    height: 4px;
    width: 40%;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%) 0% 0% / 200%;
    
    
}
.footer ul{
    list-style: none;
    padding: 0;
}

.footer-item ul li{
    padding: 0.5rem 0;
    
} 
.footer-item a{
     
        text-decoration: none;
    transition: 0.5s;
}
.footer-item a:hover{
color: #fff;
}
.footer-item a:hover i{
    color: #fff;
    }
.footer-item ul li a i{
margin-right: 10px;
transition: 0.5s;
}

.footer-copy-write{
    
    padding: 20px;
    background-color: #1f343b;
    
    position: relative;
    
   
}

.copy-write-content{
    display: flex;
    justify-content: space-between;
}
.copy-write-left{
    width: 80%;
    color: #fff;
   padding-left: 50px;
margin: 0;
}
.copy-write-content span{
    color: #f55f8d;
    
}
.copy-write-icon i{
    height: 35px;
    line-height: 35px;
    width: 35px;
    color: #fff;
    font-size:14px ;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 5px;
}
.copy-write-icon i:hover{
    background-color: #f55f8d;
}


  

.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
    
}
.backToTop i{
    color: #fff;
}
.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}
